<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vdaoyun.systemapi.web.mapper.device.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.vdaoyun.systemapi.web.model.device.Device">
    <id column="id" jdbcType="INTEGER" property="id" />
    	<result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    	<result column="name" jdbcType="VARCHAR" property="name" />
    	<result column="longitude" jdbcType="VARCHAR" property="longitude" />
    	<result column="latitude" jdbcType="VARCHAR" property="latitude" />
    	<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    	<result column="user_id" jdbcType="INTEGER" property="userId" />
    	<result column="sensorCount" jdbcType="INTEGER" property="sensorCount" />
  </resultMap>
  
	<sql id="Where_Clause">
		<where>
			<if test="entity.terminalId != '' and entity.terminalId != null">
				AND terminal_id = #{entity.terminalId}
			</if>
			<if test="entity.name != '' and entity.name != null">
				AND name = #{entity.name}
			</if>
			<if test="entity.longitude != '' and entity.longitude != null">
				AND longitude = #{entity.longitude}
			</if>
			<if test="entity.latitude != '' and entity.latitude != null">
				AND latitude = #{entity.latitude}
			</if>
			<if test="entity.createDate != '' and entity.createDate != null">
				AND create_date = #{entity.createDate}
			</if>
			<if test="entity.userId != '' and entity.userId != null">
				AND user_id = #{entity.userId}
			</if>
		</where>
	</sql>
	
	<select id="selectByForeign" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
		terminal_id AS terminalId
		,name AS name
		,longitude AS longitude
		,latitude AS latitude
		,create_date AS createDate
		,user_id AS userId
		FROM device WHERE id = #{foreignId}
	</select>
	
	<select id="selectPageInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT 
		a.terminal_id AS terminalId
		,a.name AS name
		,a.longitude AS longitude
		,a.latitude AS latitude
		,a.create_date AS createDate
		,a.user_id AS userId,
		count(b.id) sensorCount FROM device a LEFT JOIN sensor b ON a.terminal_id = b.terminal_id GROUP BY a.terminal_id
		<include refid="Where_Clause" />
		<if test="orderByClause != null and orderByClause != ''">
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectInfoByKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT 
		terminal_id AS terminalId
		,name AS name
		,longitude AS longitude
		,latitude AS latitude
		,create_date AS createDate
		,user_id AS userId
		FROM device
		 WHERE id = #{id}
	</select>
	
</mapper>