<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vdaoyun.systemapi.web.mapper.sensor.SensorRecordMapper">
  <resultMap id="BaseResultMap" type="com.vdaoyun.systemapi.web.model.sensor.SensorRecord">
    <id column="id" jdbcType="INTEGER" property="id" />
    	<result column="id" jdbcType="INTEGER" property="id" />
    	<result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    	<result column="post_time" jdbcType="TIMESTAMP" property="postTime" />
    	<result column="value" jdbcType="VARCHAR" property="value" />
    	<result column="data_time" jdbcType="TIMESTAMP" property="dataTime" />
    	<result column="code" jdbcType="VARCHAR" property="code" />
    	<result column="temperature_value" jdbcType="VARCHAR" property="temperatureValue" />
  </resultMap>
  
	<sql id="Where_Clause">
		<where>
			<if test="entity.id != '' and entity.id != null">
				AND id = #{entity.id}
			</if>
			<if test="entity.terminalId != '' and entity.terminalid != null">
				AND terminal_id = #{entity.terminalId}
			</if>
			<if test="entity.postTime != '' and entity.postTime != null">
				AND post_time = #{entity.postTime}
			</if>
			<if test="entity.value != '' and entity.value != null">
				AND value = #{entity.value}
			</if>
			<if test="entity.dataTime != '' and entity.dataTime != null">
				AND data_time = #{entity.dataTime}
			</if>
			<if test="entity.code != '' and entity.code != null">
				AND code = #{entity.code}
			</if>
		</where>
	</sql>
	
	<select id="selectByForeign" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
		id AS id
		,terminal_id AS terminalId
		,post_time AS postTime
		,value AS value
		,data_time AS dataTime
		,code AS code
		,temperature_value AS temperatureValue
		FROM sensor_record WHERE id = #{foreignId}
	</select>
	
	<select id="selectPageInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT 
		id AS id
		,terminal_id AS terminalId
		,post_time AS postTime
		,value AS value
		,data_time AS dataTime
		,code AS code
		,temperature_value AS temperatureValue
		FROM sensor_record
		<include refid="Where_Clause" />
		<if test="orderByClause != null and orderByClause != ''">
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectInfoByKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT 
		id AS id
		,terminal_id AS terminalId
		,post_time AS postTime
		,value AS value
		,data_time AS dataTime
		,code AS code
		,temperature_value AS temperatureValue
		FROM sensor_record
		 WHERE id = #{id}
	</select>
	
	<resultMap type="java.util.Map" id="EchartData">
		<id column="code" jdbcType="VARCHAR" property="code" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<collection property="datas" javaType="java.util.List" ofType="java.util.Map">
			<result column="value" jdbcType="VARCHAR" property="value" />
			<result column="temperature_value" jdbcType="VARCHAR" property="temperatureValue" />
			<result column="data_time"  jdbcType="TIMESTAMP" property="dataTime"  />
		</collection>
	</resultMap>
	
	<!-- 搜索ECHART图表数据 -->
	<select id="selectEchartData" parameterType="java.util.Map" resultMap="EchartData">
		SELECT
			a.*, b. NAME
		FROM
			sensor_record a ,
			sensor b
		WHERE
			a.terminal_id = b.terminal_id
		AND a.`code` = b.`code`
		AND data_time > DATE_SUB(NOW(),INTERVAL #{expr} DAY)
		<if test="pondsId != null">
			AND b.ponds_id = #{pondsId}
		</if>
		<if test="terminalId != null">
			AND b.terminal_id = #{terminalId}
		</if>
		ORDER BY a.data_time ASC
	</select>
	
</mapper>