<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vdaoyun.systemapi.web.mapper.sensor.SensorMapper">
  <resultMap id="BaseResultMap" type="com.vdaoyun.systemapi.web.model.sensor.Sensor">
    <id column="id" jdbcType="INTEGER" property="id" />
    	<result column="id" jdbcType="INTEGER" property="id" />
    	<result column="ponds_id" jdbcType="INTEGER" property="pondsId" />
    	<result column="terminal_id" jdbcType="VARCHAR" property="terminalId" />
    	<result column="code" jdbcType="VARCHAR" property="code" />
    	<result column="unit" jdbcType="VARCHAR" property="unit" />
    	<result column="name" jdbcType="VARCHAR" property="name" />
    	<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    	<result column="user_id" jdbcType="INTEGER" property="userId" />
    	<result column="is_alarm" jdbcType="INTEGER" property="isAlarm" />
  </resultMap>
  
	<sql id="Where_Clause">
		<where>
			<if test="entity.id != '' and entity.id != null">
				AND id = #{entity.id}
			</if>
			<if test="entity.pondsId != '' and entity.pondsId != null">
				AND ponds_id = #{entity.pondsId}
			</if>
			<if test="entity.terminalId != '' and entity.terminalId != null">
				AND terminal_id = #{entity.terminalId}
			</if>
			<if test="entity.code != '' and entity.code != null">
				AND code = #{entity.code}
			</if>
			<if test="entity.unit != '' and entity.unit != null">
				AND unit = #{entity.unit}
			</if>
			<if test="entity.name != '' and entity.name != null">
				AND name = #{entity.name}
			</if>
			<if test="entity.createDate != '' and entity.createDate != null">
				AND create_date = #{entity.createDate}
			</if>
			<if test="entity.userId != '' and entity.userId != null">
				AND user_id = #{entity.userId}
			</if>
		</where>
	</sql>
	
	<select id="selectByForeign" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT 
		id AS id
		,ponds_id AS pondsId
		,terminal_id AS terminalId
		,code AS code
		,unit AS unit
		,name AS name
		,create_date AS createDate
		,user_id AS userId
		FROM sensor WHERE id = #{foreignId}
	</select>
	
	<select id="selectPageInfo" parameterType="java.util.Map" resultMap="BaseResultMap">
		SELECT 
		id AS id
		,ponds_id AS pondsId
		,terminal_id AS terminalId
		,code AS code
		,unit AS unit
		,name AS name
		,create_date AS createDate
		,user_id AS userId
		,is_alarm AS isAlarm
		FROM sensor
		<include refid="Where_Clause" />
		<if test="orderByClause != null and orderByClause != ''">
			order by ${orderByClause}
		</if>
	</select>
	
	<select id="selectInfoByKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		SELECT 
		id AS id
		,ponds_id AS pondsId
		,terminal_id AS terminalId
		,code AS code
		,unit AS unit
		,name AS name
		,create_date AS createDate
		,user_id AS userId
		FROM sensor
		 WHERE id = #{id}
	</select>
	
	<!-- 通过塘口编号查询探测器列表 -->
	<select id="selectListByPondsId" parameterType="java.lang.Long" resultType="java.util.Map">
		SELECT
			a.id ,
			a.ponds_id pondsId ,
			a.terminal_id terminalId ,
			a.`code` ,
			a.unit ,
			a.`name` ,
			a.create_date createDate ,
			b. NAME deviceName
		FROM
			sensor a ,
			device b
		WHERE
			a.terminal_id = b.terminal_id
		AND a.ponds_id = #{pondsId}
		AND a.is_enable = 'y'
	</select>
	
	<select id="selectListJsonByPondsId" parameterType="java.lang.Long" resultType="java.util.Map">
		SELECT
			a.id ,
			a.ponds_id pondsId ,
			a.terminal_id terminalId ,
			a.`code` ,
			a.`name` ,
			a.is_alarm isAlarm,
			a.create_date createDate,
			b.unit,
			b.upper,
			b.lower,
			b.remark
		FROM
			sensor a
		LEFT JOIN sensor_warn_config b ON a.`code` = b.`code`
		WHERE a.ponds_id = #{pondsId}
	</select>
	
	<select id="selectListByPondsIdForJson" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT DISTINCT
			a.*, IF(b.ponds_id > 0,'y', 'n') isEnable
		FROM
			(
				SELECT
					*
				FROM
					(
						SELECT
							*
						FROM
							sys_dict
						WHERE
							group_id IN(
								SELECT
									dict_group_id
								FROM
									sys_dict_group
								WHERE
									group_code IN(
										SELECT
											`code`
										FROM
											sys_dict a ,
											sys_dict_group b
										WHERE
											a.group_id = b.dict_group_id
										AND b.group_code = 'CGQ'
									)
							)
					) a
				WHERE
					CODE NOT IN(
						SELECT
							a.`code`
						FROM
							sensor a 
						WHERE
							a.terminal_id = #{terminalId}
							AND a.ponds_id != #{pondsId}
					)
			) a
		LEFT JOIN(SELECT `code`, ponds_id FROM sensor WHERE ponds_id =  #{pondsId}) b ON a. CODE = b. CODE;
	</select>
	
	
	
	
	
	<!-- 通过设备编号查询探测器列表 -->
	<select id="selectListByTerminalId"  parameterType="java.lang.String" resultType="java.util.Map">
		SELECT
			a.id ,
			a.ponds_id pondsId ,
			a.terminal_id terminalId ,
			a.`code` ,
			a.unit ,
			a.`name` ,
			a.create_date createDate ,
			b.`name` pondsName,
			b.address
		FROM
			sensor a ,
			ponds b
		WHERE
			a.ponds_id = b.id
		AND a.terminal_id = #{terminalId}
	</select>
	
	<select id="selectListByCode" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.code, a.name,  b.id, b.pondsId,b.isEnable
		FROM
			(
				SELECT
					a.*
				FROM
					sys_dict a ,
					sys_dict_group b
				WHERE
					a.group_id = b.dict_group_id
				AND b.group_code = #{groupCode}
			) a
		LEFT JOIN(
			SELECT
				code, id, ponds_id pondsId, is_enable isEnable
			FROM
				sensor
			WHERE
				terminal_id = #{terminalId}
		) b ON a. CODE = b.`code`;
	</select>
	
	<select id="selectListByGroupCode" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.code, a.name, b.id, b.pondsId, b.isEnable
		FROM
			(
				SELECT * FROM sys_dict WHERE group_id in ( 
					SELECT dict_group_id FROM sys_dict_group WHERE group_code in
					(
					SELECT `code` FROM sys_dict a, sys_dict_group b WHERE
					a.group_id = b.dict_group_id AND b.group_code = #{groupCode})
				)
			) a
		LEFT JOIN(
			SELECT
				code, id, ponds_id pondsId, is_enable isEnable
			FROM
				sensor
			WHERE
				terminal_id = #{terminalId}
		) b ON a. CODE = b.`code`;
	</select>
	
	
	<!-- 通过终端编号查询该终端下所有探测器信息，包含所属塘口基本信息，用于通过终端查看探测器信息 -->
	<select id="selectByTerminalId" parameterType="java.util.Map" resultType="java.util.Map">
		SELECT
			a.id ,
			a.ponds_id pondsId ,
			a.terminal_id terminalId ,
			a.`code` ,
			a.unit ,
			a.`name` ,
			a.create_date createDate, b.pondsName, b.nickname, b.avatarUrl, b.trueName
		FROM
			sensor a
		LEFT JOIN(
			SELECT
				a.id ,
				a.`name` pondsName,
				b.nickname ,
				b.avatar_url avatarUrl ,
				b.true_name trueName
			FROM
				ponds a ,
				`user` b
			WHERE
				a.user_id = b.id
		) b ON a.ponds_id = b.id
		WHERE 1=1
		<if test="terminalId != null and terminalId != ''">
			AND a.terminal_id = #{terminalId}
		</if>
		<if test="orderByClause != null and orderByClause != ''">
			order by ${orderByClause}
		</if>
	</select>
	
</mapper>