<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vdaoyun.systemapi.web.base.dict.dao.SysDictMapper" >
	<resultMap id="BaseResultMap" type="com.vdaoyun.systemapi.web.base.dict.model.SysDict" >
		<id column="dict_id" property="dictId" jdbcType="INTEGER" />
	    <result column="group_id" property="groupId" jdbcType="INTEGER" />
	    <result column="code" property="code" jdbcType="VARCHAR" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="states" property="states" jdbcType="VARCHAR" />
	    <result column="orderby" property="orderby" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Where_Clause">
		<if test='dictId != "" and dictId != null' >
		and a.dict_id = #{dictId,jdbcType=INTEGER }
		</if>
		<if test='groupId != "" and groupId != null' >
		and a.group_id = #{groupId,jdbcType=INTEGER }
		</if>
		<if test='code != "" and code != null' >
		and a.code = #{code,jdbcType=VARCHAR }
		</if>
		<if test='name != "" and name != null' >
		and a.name = #{name,jdbcType=VARCHAR }
		</if>
		<if test='states != "" and states != null' >
		and a.states = #{states,jdbcType=VARCHAR }
		</if>
		<if test='orderby != "" and orderby != null' >
		and a.orderby = #{orderby,jdbcType=INTEGER }
		</if>
		<if test='groupCode != "" and groupCode != null' >
		and b.group_code = #{groupCode,jdbcType=VARCHAR }
		</if>
		<if test='groupName != "" and groupName != null' >
		and b.group_name = #{groupName,jdbcType=VARCHAR }
		</if>
	</sql>
	<select id="selectTableList" resultType="java.util.Map" parameterType="java.util.Map" >
		select dict_id dictId,group_id groupId,code ,name ,states ,a.orderby ,b.group_code groupCode,b.group_name groupName
	    from sys_dict as a,sys_dict_group as b where a.group_id=b.dict_group_id
	    <include refid="Where_Clause" />
	    <if test="orderByClause != null" >
	      order by ${orderByClause}
	    </if>
	</select>
</mapper>