<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.vdaoyun.systemapi.web.base.function.dao.SysFunctionOperationMapper">
	<resultMap id="BaseResultMap"
		type="com.vdaoyun.systemapi.web.base.function.model.SysFunctionOperation">
		<id column="operation_id" property="operationId" jdbcType="INTEGER" />
		<result column="function_id" property="functionId" jdbcType="INTEGER" />
		<result column="operation_code" property="operationCode"
			jdbcType="VARCHAR" />
		<result column="operation_icon" property="operationIcon"
			jdbcType="VARCHAR" />
		<result column="operation_name" property="operationName"
			jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="TreeResultMap" type="com.vdaoyun.systemapi.common.bean.TreeBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="font_icon" property="fontIcon" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="is_check" property="isCheck" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Where_Clause">
		<where>
			<if
				test='peration.operationId != "" and operationId != null'>
				operation_id =
				#{sysFunctionOperation.operationId,jdbcType=INTEGER }
			</if>
			<if
				test='functionId != "" and functionId != null'>
				and function_id =
				#{sysFunctionOperation.functionId,jdbcType=INTEGER
				}
			</if>
			<if
				test='operationCode != "" and operationCode != null'>
				and operation_code =
				#{sysFunctionOperation.operationCode,jdbcType=VARCHAR }
			</if>
			<if
				test='operationIcon != "" and operationIcon != null'>
				and operation_icon =
				#{sysFunctionOperation.operationIcon,jdbcType=VARCHAR }
			</if>
			<if
				test='operationName != "" and operationName != null'>
				and operation_name =
				#{sysFunctionOperation.operationName,jdbcType=VARCHAR }
			</if>
		</where>
	</sql>
	<select id="selectTableList" resultType="java.util.Map"
		parameterType="java.util.Map">
		select
		operation_id operationId,function_id functionId,operation_code
		operationCode,operation_icon operationIcon,operation_name
		operationName
		from sys_function_operation
		<include refid="Where_Clause" />
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectTreeList" resultMap="TreeResultMap"
		parameterType="java.util.Map">
		select a.operation_id id,a.function_id
		pid,a.operation_name name,a.operation_icon font_icon,'operation'
		type,4 level,
		if(isnull(b.operation_id ),'n', 'y') is_check
		from (select
		operation_id,function_id,operation_icon,operation_name
		from
		sys_function_operation
		where function_id in(select function_id from
		sys_function where type_code = #{typeCode, jdbcType=VARCHAR})) a left
		join
		(select operation_id from sys_function_operation where
		find_in_set(operation_id,(select operation from sys_role where role_id
		= #{roleId, jdbcType=INTEGER}))) b
		on a.operation_id = b.operation_id
	</select>
</mapper>